In [1]:
import pandas as pd

# Create a series object from a Python List

In [2]:
ice_cream = ['Chocolate', 'Vanilla', 'Strawberry', 'Rum Raisin']
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [3]:
lottery = [4, 8, 15, 16, 23, 42]
pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
registrations = [True, False, False, False, True]
pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

# Create a series Object from a Dictionary

In [5]:
webster = {"Aardvark" : "An animal", "Banana" : "A delicious fruit", "Cyan" : "A color"}
pd.Series(webster)

Aardvark            An animal
Banana      A delicious fruit
Cyan                  A color
dtype: object

# Intro to Attributes

In [6]:
about_me = ["Smart", "Handsome", "Charming", "Brilliant", "Humble"]
s = pd.Series(about_me)

In [7]:
s.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [8]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
s.dtype

dtype('O')

# Intro to Methods

In [10]:
prices = [2.99, 4.45, 1.36]
s = pd.Series(prices)

In [11]:
s.sum()

8.8

In [12]:
s.product()

18.095480000000006

In [13]:
s.mean()

2.9333333333333336

# Parameters and Arguments

In [14]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]
pd.Series(fruits, weekdays)

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

# Import Series with read_csv Method

In [15]:
pokemon = pd.read_csv(r"C:\Users\Willian\Desktop\Projects\Pandas_study\Data_set\pokemon.csv", usecols = ["Pokemon"], squeeze = True)

In [16]:

google = pd.read_csv(r"C:\Users\Willian\Desktop\Projects\Pandas_study\Data_set\google_stock_price.csv", squeeze = True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

# The .head() and .tail() Methods

In [17]:
pokemon = pd.read_csv(r"C:\Users\Willian\Desktop\Projects\Pandas_study\Data_set\pokemon.csv", usecols = ["Pokemon"], squeeze = True)
google = pd.read_csv(r"C:\Users\Willian\Desktop\Projects\Pandas_study\Data_set\google_stock_price.csv", squeeze = True)

In [18]:
pokemon.head()
# .head() returns the first 5 rows

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [19]:
google.tail()
# .tail) returns the last 5 rows

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

# Python Built-In Functions

In [20]:
pokemon = pd.read_csv(r"C:\Users\Willian\Desktop\Projects\Pandas_study\Data_set\pokemon.csv", usecols = ["Pokemon"], squeeze = True)
google = pd.read_csv(r"C:\Users\Willian\Desktop\Projects\Pandas_study\Data_set\google_stock_price.csv", squeeze = True)

In [21]:
# len() return the number of rows
# type() return the type
# dir() return the methods
# sorted() return ascending order
# list() turn into a list
# dict() turn into a dictionary
# max() return the maximum value
# min() return the minimum value

# More Series Attributes

In [22]:
pokemon = pd.read_csv(r"C:\Users\Willian\Desktop\Projects\Pandas_study\Data_set\pokemon.csv", usecols = ["Pokemon"], squeeze = True)
google = pd.read_csv(r"C:\Users\Willian\Desktop\Projects\Pandas_study\Data_set\google_stock_price.csv", squeeze = True)

# .is_unique (returns True if there are no duplicate values)
pokemon.is_unique
# .ndim returnr the dimension size
pokemon.ndim
# .shape returns the number of rows, columns and etc
pokemon.shape
# .size returns the number os elements, it counts null numbers
pokemon.size
# .name returns the series name
pokemon.name

'Pokemon'

# The .sort_values() Method

In [23]:
pokemon.sort_values()
# The values are in alphabetical order, it returns a brand new series, for descending we have to modify 
# the argument, ascending = False

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
         ...
570      Zoroark
569        Zorua
40         Zubat
633     Zweilous
717      Zygarde
Name: Pokemon, Length: 721, dtype: object

# The inplace Parameter

In [24]:
# We can use inplace to overwrite the initial series, its False by default
google.sort_values(ascending = False, inplace = True)
google

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
         ...
12       50.74
10       50.70
0        50.12
9        50.07
11       49.95
Name: Stock Price, Length: 3012, dtype: float64

# The .sort_index() Method

In [25]:
# We can use sort_index to sort by the index

In [26]:
pokemon.sort_index(ascending = False)

720     Volcanion
719         Hoopa
718       Diancie
717       Zygarde
716       Yveltal
          ...
4      Charmeleon
3      Charmander
2        Venusaur
1         Ivysaur
0       Bulbasaur
Name: Pokemon, Length: 721, dtype: object

# Python's in Keyword

In [27]:
# we can use this to check if an element exists in a series, by default it looks in the index not the values
"Bulbasaur" in pokemon.values
100 in pokemon.index

True

# Extract Values by Index Position

In [28]:
# its the same way we do with lists
#series_name[indexnumber]

# Extract Values by Index Label

In [29]:
pokemon = pd.read_csv(r"C:\Users\Willian\Desktop\Projects\Pandas_study\Data_set\pokemon.csv", index_col = "Pokemon", squeeze = True)

In [30]:
pokemon["Bulbasaur"]

'Grass'

# The .get() Method on a Series

In [31]:
# The default return for a non existing key can be changed to anything we want
pokemon.sort_index(inplace = True)
pokemon

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
              ...
Zoroark         Dark
Zorua           Dark
Zubat         Poison
Zweilous        Dark
Zygarde       Dragon
Name: Type, Length: 721, dtype: object

In [32]:
pokemon.get(0)

'Grass'

# Math Methods on Series Objects

In [33]:
google = pd.read_csv(r"C:\Users\Willian\Desktop\Projects\Pandas_study\Data_set\google_stock_price.csv", squeeze = True)
google.head(3)
#.count() return the amount of values, excluding missing values
#.sum() return the sum of all values
#.mean() return the mean of all values
#.std() return the standard deviation
#.median() the number in the middle
#.mode() most frequent occurence
#.describe() statistical description

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

# The .idxmax() and idxmin() Methods

In [34]:
# We can use idxmax() and idxmin() to find the index of the greatest and smallest value

In [35]:
google.max()

782.22

In [36]:
google.idxmax()

3011

In [37]:
google[3011]

782.22

# The .value_counts() method

In [38]:
# We can use this to see counts of unique values within a series
pokemon = pd.read_csv(r"C:\Users\Willian\Desktop\Projects\Pandas_study\Data_set\pokemon.csv", index_col = "Pokemon", squeeze = True)
pokemon.head(3)
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

# The .apply() Method

In [39]:
# Custom operation on each of the values, we need to create a function and it applies to each of the values
google = pd.read_csv(r"C:\Users\Willian\Desktop\Projects\Pandas_study\Data_set\google_stock_price.csv", squeeze = True)
google.head(6)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
Name: Stock Price, dtype: float64

In [40]:
def classify_performance(number):
    if number < 300:
        return "OK"
    elif number >= 300 and number < 650:
        return "Satisfactory"
    else:
        return "incredible!"

In [41]:
google.apply(classify_performance)

0                OK
1                OK
2                OK
3                OK
4                OK
           ...
3007    incredible!
3008    incredible!
3009    incredible!
3010    incredible!
3011    incredible!
Name: Stock Price, Length: 3012, dtype: object

In [42]:
google.apply(lambda stock_price : stock_price + 1)

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
         ...
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, Length: 3012, dtype: float64

# The .map() Method

In [43]:
#it works like a vlookup
pokemon_names = pd.read_csv(r"C:\Users\Willian\Desktop\Projects\Pandas_study\Data_set\pokemon.csv", usecols = ["Pokemon"], squeeze = True)
pokemon_names.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [44]:
pokemon_types = pd.read_csv(r"C:\Users\Willian\Desktop\Projects\Pandas_study\Data_set\pokemon.csv", index_col = "Pokemon", squeeze = True)
pokemon_types.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [45]:
pokemon_names.map(pokemon_types)

0        Grass
1        Grass
2        Grass
3         Fire
4         Fire
        ...
716       Dark
717     Dragon
718       Rock
719    Psychic
720       Fire
Name: Pokemon, Length: 721, dtype: object